.cmovie-box {
      padding: 5px 0 10px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
}

.cmovie {
      color: gray;
      padding-top: 5px;
}
