.analyse-form-box {
      background-color: #edf2fb;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 10px 0px 10px;
}

.personalize-form {
      font-family: inherit;
      padding: 20px 20px 20px 20px;
}

.personalize-form-heading {
      font-size: x-large;
}
