.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
      color: #e76f51;
}

.nav-tabs .nav-link {
      color: grey;
}

.main-box-left {
      border-right: 1px solid #dee2e6;
}

.main-box-right {
      display: flex;
      justify-content: center;
}

@media (max-width: 450px) {
      .nav-link {
            font-size: 8px;
      }
}
