.video-title-box {
      color: #3d5a80;
      font-family: inherit;
      font-size: xx-large;
      font-weight: 450;
      padding: 16px 8px 0px 8px;
}

.video-info-box {
      font-family: inherit;
      padding-left: 8px;
      color: #777;
      text-align: justify;
}
